*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-primary: #eee;
  --color-text: #2c3e50;
  --color-text-alt: #aaa;
}

html, body {
  height: 100%;
}

body {
  color: var(--color-text);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button, input {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Ubiquitous */
.Wrap {
  margin-inline: auto;
  max-width: 1024px;
}